.site-footer {
  position: relative;
  padding-top: 20px;
  padding-bottom: 60px;
  color: #fff;
  background: color(var(--darkgrey) l(-15%));
}

.site-footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: rgba(255,255,255,0.7);
  font-size: 1.3rem;
}

.site-footer-content a {
  color: rgba(255,255,255,0.7);
  fill: rgba(255,255,255,0.7);
}

.site-footer-content a:hover {
  color: rgba(255,255,255,1);
  fill: rgba(255,255,255,1);
  text-decoration: none;
}

.site-footer-nav {
  display: flex;
  flex-direction: column;
}

.site-footer-nav svg {
  height: 1.8rem;
}

@media (max-width: 650px) {
  .site-footer-content {
      flex-direction: column;
  }
  .site-footer-nav a:first-child {
      margin-left: 0;
  }
}
